@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Import Style Sheet -->

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<article id="aboutSec">
    <div class="text-center">
        <h1 class="display-4">About Me</h1>
        <hr class="rounded"/>

        <img src="~/SULogo.png" alt="SU logo" id="suImg"/>
        <p>
            BIO: I am Declan Jeffrey :)
        </p>

    </div>
</article>
