@page
@model Personal_Portfolio.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";

    //Create Different sections for each project
    <article>
    
        <div class="text-center">
            <h1 class="display-4">
            Q-Learning Agent In OSRS
            </h1>
        </div>
        <hr class="rounded">
            
        <br />
        <div class="projectDes">
            <a href="https://github.com/DeclanWJ/AI-Final-Project">
              <img src="~/Q Learning GUI 3.png" alt="OSRS Pic" class="projects" hspace="5%" vspace="5%">
            </a>
            <ul class="projectList">
                <li>This project deals with</li>
                <li>We used this for it</li>
            </ul>
             
        </div>
      

        
       

    </article>

    <br />

    <article>
    Project2
    </article>
}
