@page
@model Personal_Portfolio.Pages.ResumeModel
@{
    ViewData["Title"] = "Resume";
    <iframe src="~/DeclanJ_Resume.pdf" title="resume" class="resume">
    </iframe>
    <a href="~/DeclanJ_Resume.pdf" alt="Resume" class="resLink">
    Click here to acess pdf outsife of page. 
    </a>

}
